<div class="card shadow mb-4">

    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold">Add User</h6>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-6">
                <form>
                    <div class="form-group">
                        <label for="firstname">First Name:</label>
                        <input type="text" [(ngModel)]="user.firstName" name="firstname" class="form-control"
                            id="firstname">
                        <label for="lastname">Last Name:</label>
                        <input type="text" [(ngModel)]="user.lastName" name="lastname" class="form-control"
                            id="lastname">
                        <label for="email">Email:</label>
                        <input type="text" [(ngModel)]="user.email" name="email" class="form-control" id="email">
                        <label for="password">Password:</label>
                        <input type="text" [(ngModel)]="user.password" name="password" class="form-control"
                            id="password">
                        <label for="role">Role:</label>
                        <select [(ngModel)]="user.role" name="role" class="form-control" id="role">
                            <option value="ADMIN">Admin</option>
                            <option value="INVM">Inventory Manager</option>
                            <option value="CASH">Cashier</option>
                        </select>
                        <h4 style="font-size: 12px;color:red;margin-bottom: 5px;">{{errorVal}}</h4>
                        <button (click)="addUser()" class="btn btn-danger btn-icon-split" style="margin-top: 10px;">
                            <span class="icon text-white-50">
                                <i class="fas fa-check"></i>
                            </span>
                            <span class="text text-white-50">Add User</span>
                        </button>
                    </div>
                </form>
                <!-- <button (click)="itemService.goToCreateSavedItem(item.id)" class="btn btn-info" style="margin-left: 10px">Add SavedItem</button> -->
            </div>
            <div class="col-sm-6">
                <img src="../../../assets/img/Video call_Monochromatic.svg" style="width: 90%;height: 100%;">
            </div>
        </div>
    </div>
</div>