/* You can add global styles to this file, and also import other style files */
body {
  width: 100%;
  height: 100%;
  background-color: #ff4229;
  background-image: url("../src/assets/img/background.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.btn-danger{
  background-color: #68e1fd;
  border-color: #23a4c1;
  color: grey;
}
.btn-danger:hover{
  background-color: #50aec3;
  border-color: #23a4c1;
  color: black;
}
.btn-danger:not(:disabled):not(.disabled):active, .show>.btn-danger.dropdown-toggle {
  color: black;
  background-color: #23a4c1;
  border-color: rgb(35, 164, 193);
}
.btn-danger.focus, .btn-danger:focus {
  box-shadow: 0 0 0 0.2rem rgba(35, 164, 193,.5);
}

h6{
  color: #115261;
}