.scroll {
    max-height: 100px;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.scroll::-webkit-scrollbar {
    display: none;
}

.btn-black {
    background-color: black;
    color: white;
    padding: 5px;
    padding-right: 10px;
}

.btn-grey {
    background-color: grey;
    color: black;
    padding: 5px;
    padding-right: 10px;
}